# Main Configuration File for Makefile
# ---------------------------------------------------------------------------
#
# !!!Include at the top of every makefile!!!
#

# Versions, etc.
export PROJECT_NAME := porto
export VERSION := 0
export SUBVERSION := 0
export RELEASE := alpha
export NAME := Albus Dumbledore

# Architecture Stuff 
export TARGET?=i686-elf
export TARGETARCH:=$(shell if echo "${TARGET}" | grep -Eq 'i[[:digit:]]86-'; then \
		echo i386; \
	else \
		echo "${TARGET}" | grep -Eo '^[[:alnum:]_]*';\
	fi)
export DEFAULT_TARGET := i686-elf

# Tools that will be used
TOOLDIR:=$(shell echo $$HOME)/opt/${TARGET}-cross/bin/
AR=${TOOLDIR}${TARGET}-ar
AS=${TOOLDIR}${TARGET}-AS
CC=${TOOLDIR}${TARGET}-gcc
CXX=${TOOLDIR}${TARGET}-g++
BOOTLOADER:=$(shell echo $$HOME)/opt/grub-2/bin/grub-mkrescue

# Configure the cross-compiler to user the desired system-root
SYSROOT=$(shell pwd)/sysroot
CC+= --sysroot=${SYSROOT}

# Work around that the -elf gcc targets doesn't have a system include directory
#because it was configured with --without-headers rather than --with-sysroot
CC+= $(shell if echo "${TARGET}" | grep -Eq -- '-elf($$|-)'; then \
	echo " -isystem=${INCLUDEDIR}"; \
fi)

# Default tools flags
CFLAGS?=-O2 -g
CXXFLAGS?=
LDFLAGS?=
LIBS?=

# Freestanding flags (required as we're compiling a freestanding OS)
CFLAGS := $(CFLAGS) -ffreestanding
CXXFLAGS := ${CXXFLAGS}

# Mandatory flags
CWARNINGS := -Wall -Wextra -pedantic -Wshadow -Wpointer-arith -Wcast-align \
            -Wwrite-strings -Wmissing-prototypes -Wmissing-declarations \
            -Wredundant-decls -Wnested-externs -Winline -Wno-long-long \
            -Wuninitialized -Wconversion -Wstrict-prototypes
CXXWARNINGS:=-pedantic -Wall -Wextra -Wcast-align -Wcast-qual \
	 					-Wctor-dtor-privacy -Wdisabled-optimization -Wformat=2 \
						-Winit-self -Wlogical-op -Wmissing-declarations \
						-Wmissing-include-dirs -Wnoexcept -Wold-style-cast \
						-Woverloaded-virtual -Wredundant-decls -Wshadow -Wsign-conversion \
						-Wsign-promo -Wstrict-null-sentinel -Wstrict-overflow=5 \
						-Wswitch-default -Wundef -Winline
CFLAGS:=${CFLAGS} ${CWARNINGS}
CXXFLAGS:=${CXXFLAGS} ${CXXWARNINGS}

# Rendundant
# Build directories
#PREFIX?=/usr/local
#EXEC_PREFIX?=$(PREFIX)
#BOOTDIR?=/boot
#LIBDIR?=${EXEC_PREFIX}/lib
#INCLUDEDIR?=$(PREFIX)/include

# Exporting all variables
export TOOLDIR
export AR
export AS
export CC
export CXX
export BOOTLOADER
export SYSROOT
export CFLAGS
export CXXFLAGS
export LDFLAGS
export LIBS